<!DOCTYPE html>   
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CMM 19</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
	<link rel="stylesheet" href="/assets/home.css">
</head>
<body>
	<header >
		<div class="has-text-centered">
		<img src="/assets/images/logo.png" alt="" width="200" height="auto">
		</div>
		<nav class="navbar-tabs is-size-2 ">
			
			<a href="#" class="navbar-item">work</a>
			<a href="#" class="navbar-item">interview</a>
			<a href="#" class="navbar-item">work</a>
			<a href="#" class="navbar-item">work</a>
			<a href="#" class="navbar-item">work</a>
			<a href="#" class="navbar-item">work</a>
	

		</nav>
		
	</header>
	<main>
		<section class="banner">
		<div class="highlight ">
			<div class="columns is-marginless">
				<div class="column highlight-item  ">
					<h1 class="is-size-2">Hello</h1>
				
				</div>
			</div>
		</div> 
		<div class="thumbnail ">
			<div class="columns is-marginless">
				<div class="column thumbnail-item is-paddingless">
					<img src="/assets/images/home/banner/thumbnail-1.jpg " alt="" width="100%" height="auto">
					
				</div>
				<div class="column thumbnail-item is-paddingless">
					<img src="/assets/images/home/banner/thumbnail-2.jpg" alt="" width="100%" height="auto">
				</div>
				<div class="column thumbnail-item is-paddingless">
					<img src="/assets/images/home/banner/thumbnail-3.jpg" alt="" width="100%" height="auto">
					
				</div>
				<div class="column thumbnail-item is-paddingless">
					<img src="/assets/images/home/banner/thumbnail-4.jpg" alt="" width="100%" height="auto">
					
				</div>
							

			</div>
		</div>

		</section>
		<section class="section we-present">
			<div class="container">
				<div class="columns">
					<div class="column has-text-left">
						<a href="#">LASTEST</a>
					</div>
					<div class="column has-text-centered">WE PRESENT</div>
					<div class="column has-text-right">
						<a href="#">SEARCH</a>
					</div>
				</div>

				<!-- <Note> -->


				<div class="columns is-multiline">

					<!-- <First paragraph> -->

					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-7.jpg" alt="image=1">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">นักเตะระดับโลก</h5>
								<h3 class="title is-spaced is-4">Cristiano Ronaldo</h3>
								<h4 class="subtitle is-6">Cristiano Ronaldo</h4>
								<p>โรนัลโด้เผย ตัวเองเจ๋งกว่า messi มาก พร้อมซิว 
								บันลงดอร์จนแขวนสตั๊ด อ่านต่อ....</p>
							</div>
						</div>
					</a>

					<!-- <second paragraph> -->

					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-8.jpg" alt="image=1">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">ข้าคือต่างดาว</h5>
								<h3 class="title is-spaced is-4">Leonei Messi</h3>
								<h4 class="subtitle is-6">Leonei Messi</h4>
								<p>Messi โต้กลับ โรนัลโด้ก็แค่อดีตเด็กหมาแดง ทีมอ่อนๆในอังกฤษ</p>
							</div>
						</div>
					</a>

					<!-- <Thrid paragraph> -->

					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-9.jpg" alt="image=1">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">อิบราเผยข้านี่แหละพระเจ้า</h3>
								<h4 class="subtitle is-6">Zlatan Ibrahimovic</h4>
								<p>พระเจ้าเผย ข้านี่แหละเจ๋งสุดในอวกาศ 
								อยากเจอย้ายมาอังกฤษ อ่านต่อ..</p>
							</div>
						</div>
					</a>

					<!-- <Four paragraph> -->

					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-4.jpg" alt="image=1">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">Lorem Ipsum dolar sit</h3>
								<h4 class="subtitle is-6">Fernando Torres</h4>
								<p>Erum doloremque eligendi</p>
							</div>
						</div>
					</a>

					<!-- <Five paragraph> -->

					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-5.jpg" alt="image=1">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">Lorem Ipsum dolar sit</h3>
								<h4 class="subtitle is-6">Ronaldinho</h4>
								<p>Erum doloremque eligendi</p>
							</div>
						</div>
					</a>

					<!-- <Six paragraph> -->

					<a href="#" class="column is-one-third">
						<div class="card">
							<div class="card-image">
								<figure class="image is-3by2">
									<img src="assets/images/home/we-preset/img-6.jpg" alt="image=1">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-spaced is-4">Lorem Ipsum dolar sit</h3>
								<h4 class="subtitle is-6">David De Gea</h4>
								<p>Erum doloremque eligendi</p>
							</div>
						</div>
					</a>

					<!-- <End> -->





					
				</div>
			</div>
		</section>
	</main>
</body>
</html>